<h1>Cageflix</h1>
<h3>Netflix for Nic Cage Movies</h3>
<%= link_to 'Add Movie', new_movie_path %><br />
<%= link_to 'back to dashboard', root_path %>
<br />
<br />
<% @movies.each do |film| %>
  <strong>
    <%= "#{film.title} (#{film.year})" %>
  </strong>
  <br />
    <%= film.synopsis %>
  <br />
  <br />
<% end %>
