<%= link_to "Add Movie", new_movie_path %>


<br>
<% @movies.each do |m| %>

<table>
  <tr>
    <td><%= m.name %> <%= "#{(m.year)}" %></td>
  </tr>
  <tr>
    <td><%= m.synopsis %></td>
  </tr>
</table>

<% end %>
