<p>
  Movies
</p>

<p>
  Reviews
</p>

<p>
  New Movie
</p>

<p>
  New Review
</p>

<p>
  <%= link_to "Sign Up", signup_path %>
</p>

<p>
  <%= link_to "Login", signin_path %>
</p>

<p>
  Signed in as: <%= current_user.username %> (<%= link_to "Sign Out", signout_path %>)
</p>
