<table border='1'>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Reviewer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.movie_id.name %></td>
      <td><%= review.user_id.username %></td>
      <td><%= review.date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
