<table border="1">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Reviewer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.movie.name %></td>
      <td><%= review.user.username %></td>
      <td><%= review.movie.year %></td>
    </tr>
    <% end %>
  </tbody>
</table>
