Reviews tables with movie name, user name of reviewer, year of movie

<% @reviews.each do |review| %>
<td><%= review.movie.name %> </td>
<%= movie.user.user_name %><br>
<%= movie.year.created_at %><br>

<% end %>
