
<h1> Movie Reviews </h1>

<table>
  <thead>
    <tr>
      <th> Movie </th>
      <th> Reviewer </th>
      <th> Date </th>

    </tr>
  </thead>


<tbody>


<% @movies.order(year: :desc).each do |movie| %>
  <tr>
    <td><%= movie.movie_name %></td>
    <td><%= "cant get to work" %> </td> 
    <td><%= movie.year %> </td>

 
  </tr>
      
    <% end %>

</tbody>





