<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Reviewer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Movie Name</td>
      <td>Reviewer Username</td>
      <td>Date</td>
    </tr>

  </tbody>
</table>
