<h1>Reviews Index</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Reviewer</th>
    <th>Date</th>
  </tr>
  <% @reviews.each do |review| %>
  <tr>
    <td><%= review.movie.name %></td>
    <td><%= review.user.username %></td>
    <td><%= review.created_at.strftime('%m/%d/%Y') %></td>
  </tr>
  <% end %>
</table>
